# Compiled Python files
*.py[cod]
__pycache__/

# Build directories
build/

# VS Code directory
.vscode/

# secrets
arduino_secrets.h

# train-related logs and progress
checkpoints*/
logs/
tensorboard/